
.header{
    font-size: 18px;
    text-align:center;
    color: darkblue;
    /*text-decoration:underline;*/
    font-family: Courier New, Courier, monospace;
    /*background-color: orange;*/
    border: 2px solid red;
    /*display: block;*/
    width: 800px;
    margin: 20px auto;
    padding: 18px 54px;
}
div {
    text-align: center;
    display: block;
    margin: center;

}

a img{
    float: right;
    /*clear: left;*/
    /*position: relative;*/
    margin-top: 30px;
    margin-right: -50px;
}



