
#google-logo{
    text-align: center;
    margin-top: 89px;
    padding-top: 109px;
}
#search-bar{
    text-align:center;
    top: 89px;

}
#top-icons{
    position: absolute;
    top: 8px;
    right: 16px;

}
