html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    padding-top:200px;
}
#google-logo{
    text-align: center;
    font-size: 64px;
    font-family: Arial, Helvetica, sans-serif
}
.search-bar{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align:center;

}
.search-field{
    height: 44px;
    width:484px;
    box-shadow: 0px 3px 5px #666666;
}
#top-icons{
    position: absolute;
    top: 8px;
    right: 16px;

}
.buttons-undersearch{
    background-color: #f2f2f2;
    text-align: center;

    border: none;
    padding: 8px 16px;
}
.color-red{
    color:red;
}
.color-green{
    color:green;
}
.color-blue{
    color:blue;
}
.color-yellow{
    color:yellow;
}

.centered-contanier{
    text-align: center;
}
.logo.centered-contanier{
    text-align: center;
}

.bottom-left-icons{
    width: 300px;
    max-width: 800px;
    border: 1px solid #f00;
    margin: 0 auto;
    padding: 0 0 0 27px;
    display: block;
    position: fixed;
    bottom: 0px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif


}

.bottom-right-icons{
    visibility: hidden; /*this hides stuff but keeps the space */
    margin-left: 1000px;
}