html, body {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

*, *:before, *:after {
    box-sizing: inherit;
}
* {
    /*border: 1px solid slategray;*/
    text-align: center;
}

.row-normal{
    display: flex;
    width:100%;
    clear: both;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    line-height: 200%;
    float: left;
}

.row{
    display: flex;
    justify-content: space-around;
    width:100%;
    clear: left;
    color: blue;
    background-color: yellow;
}
.row >.row{
    justify-content: center;
}
.col-third{
    border: 1px solid red;
    display: flex;
    float: left;
    width:33.33%;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
   
}

.top-banner{
    border: none !important;
    /*float: left;*/
    width:100%;
    clear:both;
    
    display: block;
}
.logo-banner{
    display: flex;
    text-decoration: none;
}
.spaceing{
    display:flex;
    
}
.post-Meta-Header{
    display: flex;
    float:left;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    
}
.box {
    display: flex;
    text-align: left;
    color:red;
    
}
.box:nth-child(1){
    display:inline;
    height: 60px;
    width: 60px;
    background-color: yellow;
    border: 1px solid yellow;
    border-radius:100px;
    text-align: center;
    line-height: 60px;
    float: left;
    padding: 10px 0 30px 0;
}

#heading{
    background-color: white;
    font-size: 30px;
    color: black;
    clear: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 0;
    font-weight: 550;
}

#heading-info{
    background-color: white;
    font-size: 25px;
    color: gray;
    padding-left:10px;
    text-align: left;
    padding-top: 0;
    margin: -18px 0 -15px 0;

    
}
#center-image{
    background-color: white;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

#image-source{
    display: flex;
    justify-content: center;
    text-align: center;
    color: gray;
    font-size: 16px;
    padding-top: 10px;
    font-weight: 100;
}
#gif-image{
    background-color: white;
    display: flex;
    justify-content: center;
}