html, body {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

*, *:before, *:after {
    box-sizing: inherit;
}
* {
    /*font-family: medium-ui-sans-serif-text-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;*/
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.row-normal{
    display: flex;
    width:100%;
    clear: both;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    line-height: 200%;
    float: left;
}

.row{
    display: flex;
    justify-content: space-around;
    width:100%;
    clear: left;
    background-color: yellow;
}
.row >.row{
    justify-content: center;
}
.col-third{
    padding: 0 10px 0 80px;
    display: flex;
    float: right;
    width:33.33%;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
   
}
#top-header{
    /*padding-top:10px;*/
    background-color: rgba(255,221,21,1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding-left: 10px;
}


.top-banner{
    border: none !important;
    /*float: left;*/
    width:100%;
    clear:both;
    
    display: block;
}
.logo-banner{
    display: flex;
    text-decoration: none;
}
.spaceing{
    display:flex;
    
}
.post-Meta-Header{
    margin: 30px 0 0 10px;
    display: flex;
    float:left;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-weight: 400;
    
}
.box {
    display: flex;
    text-align: left;
    color: gray;
    letter-spacing: 0;
    font-weight: 400;
    line-height: 1.4;
    font-size: 15px;
    
    
}
.circle{
    margin: 20px 0 0 20px;
    display:inline;
    height: 80px;
    width: 80px;
    background-color: yellow;
    border: 1px solid yellow;
    border-radius:100px;
    text-align: center;
    line-height: 55px;
    float: left;
    padding: 10px 0 30px 0;
}

#heading{
    line-height: 250%;
    background-color: white;
    font-size: 28px;
    color: black;
    clear: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 0;
    font-weight: 550;
}

#heading-info{
    line-height: 130%;
    background-color: white;
    font-size: 20px;
    color: gray;
    padding-left:10px;
    text-align: left;
    padding-top: 0;
    margin: -18px 0 -10px 0;

    
}
#center-image{
    background-color: white;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

#image-source{
    display: flex;
    justify-content: center;
    text-align: center;
    color: gray;
    font-size: 14px;
    padding-top: 10px;
    font-weight: 100;
}
#gif-image{
    background-color: white;
    display: flex;
    justify-content: center;
}